.calculater-main {
  width: 35rem;
  margin: 2rem auto;
}

.calculater-second {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 35%;
  align-items: center;
  margin: auto;
}
.input-display {
  width: 100%;
  height: 2rem;
  border: none;
}
.button-all {
  width: 200px;
}
.button-all button {
  width: 2rem;
  height: 2rem;
  text-align: center;
  background: blue;
  color: white;
  margin-top: 0.2rem;
  border-radius: 8px;
}
.button-all button:hover {
  background: yellow !important;
  color: black !important;
}
